<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Variants</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="256x256" href="/assets/favicon.ico">
    <script type="module" crossorigin src="assets/index-Di2FewJ3.js"></script>
    <link rel="stylesheet" crossorigin href="assets/index-DMfG0DlI.css">
</head>
<body>
    <div id="app"></div>
</body>
</html>
